<div class="container">
  <div class="ui card">
    <h1>Stock Market - PETR4.SA</h1>
    <h2 *ngIf="errorMessage">{{ errorMessage }}</h2>
    <div class="graph-container" *ngIf="lineChartData.labels.length">
      <canvas
        baseChart
        width="1000"
        height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
      >
      </canvas>
    </div>
    <app-table-info
      [finalTableValues]="finalTableValues"
      [displayedColumns]="displayedColumns"
    ></app-table-info>
  </div>
</div>
